<!-- FILTROS -->
<ibpm-filtros-busqueda-objetow [uc]="this.parent" style="width: 100%">
</ibpm-filtros-busqueda-objetow>

<!-- TARJETA TABLA -->
<div class="tabla-card">
  <!-- HEADER -->
  <div class="tabla-header-container">
    <div class="tabla-titulo">Listado de tareas</div>
  </div>

  <!-- BODY -->
  <div class="tabla-body">

    <!-- COLUMNA: NOMBRE -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Nombre</div>
      </div>

      @for (element of parent.tareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div (click)="goToEditarObjetow(element)">
              {{ element.nombre }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA:  IDENTIFICADOR NEGOCIO -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Identificador negocio</div>
      </div>

      @for (element of parent.tareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div (click)="goToEditarObjetow(element)">
              {{ element.identificadorNegocio }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA: LABEL IDENTIFICADOR -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Label identificador</div>
      </div>

      @for (element of parent.tareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div (click)="goToEditarObjetow(element)">
              {{ element.labelId }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA: DESCRIPCIÓN -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Label identificador</div>
      </div>

      @for (element of parent.tareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div (click)="goToEditarObjetow(element)">
              {{ element.descripcion }}
            </div>
          </div>
        </ng-container>
      }
    </div>


  <!-- FOOTER
  <div class="tabla-footer">
    <div class="tabla-footer-text">
      Página {{ currentPage }} de {{ numberOfPages }}
    </div>

    <div class="paginador-boton" (click)="previousPage()">
      <span>chevron_left</span>
    </div>

    <div class="paginador-boton active" (click)="nextPage()">
      <span>chevron_right</span>
    </div>
  </div>-->
</div>

