<!-- FILTROS -->
<!-- Placeholder for ibpm-crear-alarmas component. Replace with actual component import in module or add schema. -->
<div class="ibpm-crear-alarmas" style="width: 100%"></div>
<br />

<!-- TARJETA TABLA -->
<div class="tabla-card">
  <!-- HEADER -->
  <div class="tabla-header-container">
    <div class="tabla-titulo">Listado de alarmas</div>
  </div>

  <!-- BODY -->
  <div class="tabla-body">
   @let atributos = parent.workflow;
    <!-- COLUMNA: IDENTIFICADOR -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Identificador</div>
      </div>

      @for (element of atributos; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div (click)="goToEditarAlarma(element)">
              {{ element.id }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA:  TIPO DE ALARMA -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Tipo de alarma</div>
      </div>

      @for (element of atributos; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div (click)="goToEditarAlarma(element)">
              {{ element.tipoTareaTiempo }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA: ELEMENTO DE ACTIVACION -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Elemento de activación</div>
      </div>

      @for (element of atributos; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div (click)="goToEditarAlarma(element)">
              {{ element.workflow }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA: ESTADO PARA LA ACTIVACIÓN -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Estado para la activación</div>
      </div>

      @for (element of atributos; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div (click)="goToEditarAlarma(element)">
              {{ element.estadoTarea }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA: TIEMPO PARA LA ACTIVACIÓN (Dias-HH:MM:SS) -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Tiempo para la activación (Dias-HH:MM:SS)</div>
      </div>

      @for (element of atributos; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div (click)="goToEditarAlarma(element)">
              {{ element.diaAviso }}-{{ element.horaAviso }}:{{ element.minutosAviso }}:{{ element.segundosAviso }}
            </div>
          </div>
        </ng-container>
      }
    </div>

  </div>

</div>

