<div class="cont-filtro">
  <div class="usuarios-container">

    <!-- CONTENEDOR COMO EN FILTROS -->
    <div class="filtros-container">
      <div class="filtros-titulo">Nuevo password</div>

      <!-- FILA 1 -->
      <div class="fila-filtros">

        <!-- CAMPO SWITCH: Asignar único password -->
        <div class="campo-switch">
          <label class="campo-switch__label">
            ¿Asignar único password?
          </label>

          <div class="campo-switch__control">
            <input
              type="checkbox"
              id="switchUniquePassword"
              [checked]="assignUniquePasswordN === true"
              (change)="onUniquePasswordChange($event)"
            />

            <label
              for="switchUniquePassword"
              class="campo-switch__slider"
            ></label>
          </div>

          <span class="switch-estado">
            {{ assignUniquePasswordN ? "Sí" : "No" }}
          </span>
        </div>

        <!-- PASSWORD -->
        <div class="campo-texto-filtro">
          <input
            type="text"
            placeholder="Inserte password"
            [(ngModel)]="passwordN"
            name="passwordN"
            (keydown.enter)="restore()"
          />
        </div>

      </div>

      <!-- FILA DE BOTONES -->
      <div class="fila-filtros">

        <!-- Botón Reestablecer -->
        <button class="btn-figma" (click)="restore()">
          <span class="btn-icon">
            <img src="assets/img/save.svg" alt="Reestablecer" />
          </span>
          <span class="label">Reestablecer</span>
        </button>

        <!-- Botón Cancelar -->
        <button class="btn-figma" (click)="cancel()">
          <span class="btn-icon">
            <img src="assets/img/cancel.svg" alt="Cancelar" />
          </span>
          <span class="label">Cancelar</span>
        </button>

      </div>
    </div>

  </div>
</div>
