<div class="cont-nuevo-workflow">
  <form #form="ngForm">

    <!-- TARJETA DATOS DEL OBJETO WORKFLOW -->
    <div class="card-nuevo-objetoworkflow-general">

      <div class="card-header">
        <h3>Datos del objeto workflow</h3>
      </div>

      <div class="card-content">
        <div class="tbl-nuevo-workflow">

          <!-- NOMBRE -->
          <div class="campo-texto">
            <label for="nombre">Nombre</label>
            <input
              id="nombre"
              name="nombre"
              type="text"
              placeholder="Inserte nombre del atributo"
              [(ngModel)]="nombreN"
              required
              #nombre="ngModel"
            />
            @if (nombre.errors?.['required']) {
              <div class="error">El nombre del atributo del objeto workflow es obligatorio</div>
            }
          </div>

          <!-- DESCRIPCIÓN -->
          <div class="campo-texto">
            <label for="descripcion">Breve descripcion</label>
            <input
              id="descripcion"
              name="descipcion"
              type="text"
              placeholder="Inserte breve descripción"
              [(ngModel)]="descripcionN"
              required
              #descripcion="ngModel"
            />
            @if (descripcion.errors?.['required']) {
              <div class="error">La descripción del atributo del objeto workflow es obligatoria</div>
            }
          </div>

          <!-- IDENTIFICADOR DE NEGOCIO -->
          <div class="campo-radio">
            <label>Identificador de negocio</label><br/><br/>
            <input type="radio" id="identificadorNegocioSi" name="identificadorNegocio" value="SI" [(ngModel)]="identificadorNegocioN" required #identificadorNegocioSi="ngModel" />
            <label for="identificadorNegocioSi">Si</label>
            <input type="radio" id="identificadorNegocioNo" name="identificadorNegocio" value="NO" [(ngModel)]="identificadorNegocioN" required #identificadorNegocioNo="ngModel" />
            <label for="identificadorNegocioNo">No</label>
            <br/><br/>
          </div>

          <!-- LABEL IDENTIFICADOR -->
          <div class="campo-texto">
            <label for="labelIdentificador">Label identificador</label>
            <input
              id="labelIdentificador"
              name="labelIdentificador"
              type="text"
              placeholder="Inserte label identificador"
              [(ngModel)]="labelIdentificadorNegocioN"
              required
              #labelIdentificador="ngModel"
            />
            @if (labelIdentificador.errors?.['required']) {
              <div class="error">El label del identificador de negocio es obligatorio</div>
            }
          </div>
        </div>
      </div>
    </div>

          

    <!-- BOTONES FINALES -->
    <div class="botones-nuevo-grupo">

      <button class="btn-figma" type="submit" (click)="save()">
        <span class="btn-icon">
      <img src="assets/img/save.svg" alt="Guardar" />
    </span>
    Guardar</button>


      @if (editMode()) {
        <button class="btn-figma" type="button" (click)="delete()">
          <span class="btn-icon">
        <img src="assets/img/trash.svg" alt="Eliminar" />
      </span>
      Eliminar</button>
      }

     <button class="btn-figma" type="button" (click)="cancel()">
        <span class="btn-icon">
      <img src="assets/img/cancel.svg" alt="Cancelar" />
    </span>
    Cancelar</button>
    </div>
  </form>
</div>

