<div class="cont-filtro">
  <div class="usuarios-container">
    
    <!-- FILTROS -->
    <div class="filtros-container">

      <!-- TÍTULO -->
      <div class="filtros-titulo">Información de búsqueda</div>

      <!-- FILA 1 -->
      <div class="fila-filtros">
        
        <!-- NUMERO -->
        <div class="campo-texto-filtro ">
          <label for="description">Número de la tarea</label>
          <input
            type="text"
            [(ngModel)]="objetowNameF"
            placeholder="Inserte número de la tarea"
            (keydown.enter)="search()"
          />
        </div>

        <!-- NOMBRE DE LA TAREA -->
        <div class="campo-texto-filtro ">
           <label for="description">Nombre de la tarea</label>
          <input
            type="text"
            [(ngModel)]="supervisorF"
            placeholder="Inserte nombre de la tarea"
            (keydown.enter)="search()"
          />
        </div>

      </div>

      <!-- FILA 2 -->
      <div class="fila-filtros-fila3">

        <!-- NOMBRE LARGO DE LA TAREA-->
        <div class="campo-texto-filtro ">
          <label for="description">Nombre largo de la tarea</label>
          <input
            type="text"
            [(ngModel)]="objetowNameF"
            placeholder="Inserte nombre largo de la tarea"
            (keydown.enter)="search()"
          />
        </div>


        <!-- TIPO TAREA -->
          <div class="campo-lista">
            <label for="company">Tipo tarea</label>

            <select
              id="company"
              name="company"
              [(ngModel)]="companyObjectN"
              required
              #company="ngModel"
              (ngModelChange)="onCompanyChange($event)"
            >
              <option value="">Seleccione una opción</option>

              @for (company of companiesList; track company) {
                <option [ngValue]="company">
                  {{ company.largeName }}
                </option>
              }
            </select>
          </div>

        <!-- Buscar -->
        <button class="btn-figma" (click)="search()">
          <span class="btn-icon">
            <img src="assets/img/search.svg" alt="Buscar" />
          </span>
          <span class="label">Buscar</span>
        </button>

        <!-- Limpiar filtros
        
        <button class="btn-figma" (click)="limpiarFiltros()">
          <span class="btn-icon">
            <img src="assets/img/limpiar.svg" alt="Limpiar filtros" />
          </span>
          <span class="label">Limpiar filtros</span>
        </button>-->

      </div>
    </div>
  </div>
