<!-- FILTROS -->
<ibpm-filtros-busqueda-herramienta [uc]="this.parent" style="width: 100%">
</ibpm-filtros-busqueda-herramienta>

<!-- TARJETA TABLA -->
<div class="tabla-card">
  <!-- HEADER -->
  <div class="tabla-header-container">
    <div class="tabla-titulo">Listado de herramientas</div>
  </div>

  <!-- BODY -->
  <div class="tabla-body">

    <!-- COLUMNA: NOMBRE -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Nombre</div>
      </div>

      @for (element of parent.herramientas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div (click)="goToEditarHerramienta(element)">
              {{ element.nombre }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA: TIPO -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Tipo</div>
      </div>

      @for (element of parent.herramientas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ getCompanyName(element.compania) }}
            </div>
          </div>
        </ng-container>
      }
    </div>


    <!-- COLUMNA: DESCRIPCIÓN -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Descripción</div>
      </div>

      @for (element of parent.herramientas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ getCompanyName(element.compania) }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA: CADENA DE REPRESENTACIÓN -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Cadena de representación</div>
      </div>

      @for (element of parent.herramientas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ getCompanyName(element.compania) }}
            </div>
          </div>
        </ng-container>
      }
    </div>

  </div>

  <!-- FOOTER -->
  <div class="tabla-footer">
    <div class="tabla-footer-text">
      Página {{ currentPage }} de {{ numberOfPages }}
    </div>

    <div class="paginador-boton" (click)="previousPage()">
      <span>chevron_left</span>
    </div>

    <div class="paginador-boton active" (click)="nextPage()">
      <span>chevron_right</span>
    </div>
  </div>
</div>

