<div class="cont-nuevo-workflow">
  <form #form="ngForm">

    <!-- TARJETA DATOS DEL WORKFLOW -->
    <div class="card-nuevo-workflow-general">

      <div class="card-header">
        <h3>Datos del workflow</h3>
      </div>

      <div class="card-content">
        <div class="tbl-nuevo-workflow">

          <!-- NOMBRE -->
          <div class="campo-texto">
            <label for="name">Nombre</label>
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Inserte nombre del workflow"
              [(ngModel)]="nameN"
              required
              #name="ngModel"
            />
            @if (name.errors?.['required']) {
              <div class="error">El nombre del workflow es obligatorio.</div>
            }
          </div>

          <!-- NOMBRE LARGO -->
          <div class="campo-texto">
            <label for="description">Nombre largo</label>
            <input
              id="description"
              name="description"
              type="text"
              placeholder="Inserte nombre largo"
              [(ngModel)]="descriptionN"
              required
              #description="ngModel"
            />
          </div>

          <!-- FECHA CREACIÓN
        <div class="campo-texto-filtro">
          <input
            type="date"
            [(ngModel)]="startDateF"
            name="startDateF"
          />
        </div>-->

          <!-- DESCRIPCIÓN -->
          <div class="campo-texto">
            <label for="description">Breve descripcion</label>
            <input
              id="description"
              name="description"
              type="text"
              placeholder="Inserte descripcion"
              [(ngModel)]="descriptionN"
              required
              #description="ngModel"
            />
          </div>

          <!-- ESTADO -->
          <div class="campo-lista">
            <label for="company">Estado</label>

            <select
              id="company"
              name="company"
              [(ngModel)]="estadoObjectN"
              required
              #company="ngModel"
              (ngModelChange)="onEstadoChange($event)"
            >
              <option value="">Seleccione una opción</option>

              @for (estado of estadoList; track estado) {
                <option [ngValue]="estado">
                  {{ estado.nombre }}
                </option>
              }
            </select>
          </div>
        </div>
      </div>

    </div>

    <!-- BOTONES FINALES -->
    <div class="botones-nuevo-grupo">

      <button class="btn-figma" type="submit" (click)="save()">
        <span class="btn-icon">
      <img src="assets/img/save.svg" alt="Guardar" />
    </span>
    Guardar</button>


      @if (editMode()) {
        <button class="btn-figma" type="button" (click)="delete()">
          <span class="btn-icon">
        <img src="assets/img/trash.svg" alt="Eliminar" />
      </span>
      Cancelar</button>
      }

     <button class="btn-figma" type="button" (click)="cancel()">
        <span class="btn-icon">
      <img src="assets/img/cancel.svg" alt="Cancelar" />
    </span>
    Cancelar</button>
    </div>
  </form>
</div>
