<div class="cont-nuevo-workflow">
  <form #form="ngForm">

    <!-- TARJETA DATOS DEL WORKFLOW -->
    <div class="card-nuevo-workflow-general">

      <div class="card-header">
        <h3>Datos del workflow</h3>
      </div>

      <div class="card-content">
        <div class="tbl-nuevo-workflow">

          <!-- NOMBRE -->
          <div class="campo-texto">
            <label for="nombre">Nombre</label>
            <input
              id="nombre"
              name="nombre"
              type="text"
              placeholder="Inserte nombre del workflow"
              [(ngModel)]="nombreN"
              required
              #nombre="ngModel"
            />
            @if (nombre.errors?.['required']) {
              <div class="error">El nombre del workflow es obligatorio.</div>
            }
          </div>

          <!-- NOMBRE LARGO -->
          <div class="campo-texto">
            <label for="nombreLargo">Nombre largo</label>
            <input
              id="nombreLargo"
              name="nombreLargo"
              type="text"
              placeholder="Inserte nombre largo"
              [(ngModel)]="nombreLargoN"
              required
              #nombreLargo="ngModel"
            />
          </div>

          <!-- FECHA CREACIÓN
        <div class="campo-texto-filtro">
          <input
            type="date"
            [(ngModel)]="startDateF"
            name="startDateF"
          />
        </div>-->

          <!-- DESCRIPCIÓN -->
          <div class="campo-texto">
            <label for="descripcion">Breve descripcion</label>
            <input
              id="descripcion"
              name="descripcion"
              type="text"
              placeholder="Inserte descripcion"
              [(ngModel)]="descripcionN"
              required
              #descripcion="ngModel"
            />
          </div>

          <!-- ESTADO -->
          <div class="campo-lista">
            <label for="estado">Estado</label>

            <select
              id="estado"
              name="estado"
              [(ngModel)]="estadoObjectN"
              required
              #estado="ngModel"
              (ngModelChange)="onEstadoChange($event)"
              [compareWith]="compararEstados"
            >
              <option value="">Seleccione una opción</option>

              @for (estado of this.uc!.estados; track estado.code) {
                <option [ngValue]="estado">
                  {{ estado.name }}
                </option>
              }
            </select>
          </div>
        </div>
      </div>

    </div>

    <!-- BOTONES FINALES -->
    <div class="botones-nuevo-workflow">
      <button class="btn-figma" type="submit" (click)="save()">
        <span class="btn-icon">
      <img src="assets/img/save.svg" alt="Guardar" />
    </span>
    Guardar</button>


      @if (editMode()) {
        <button class="btn-figma" type="button" (click)="delete()">
          <span class="btn-icon">
        <img src="assets/img/trash.svg" alt="Eliminar" />
      </span>
      Eliminar</button>
      }

     <button class="btn-figma" type="button" (click)="cancel()">
        <span class="btn-icon">
      <img src="assets/img/cancel.svg" alt="Cancelar" />
    </span>
    Cancelar</button>
    </div>
  </form>
</div>
