<!-- FILTROS -->
<ibpm-filtros-busqueda-distribuirtarea [uc]="this.parent" style="width: 100%">
</ibpm-filtros-busqueda-distribuirtarea>

<!-- TARJETA TABLA -->
<div class="tabla-card">
  <!-- HEADER -->
  <div class="tabla-header-container">
    <div class="tabla-titulo">Listado de tareas</div>
  </div>

  <!-- BODY -->
  <div class="tabla-body">


<!-- COLUMNA: SELECCION -->
<div class="tabla-columna">

  <div class="tabla-col-header">

    <input
      class="check-tabla"
      type="checkbox"
      [checked]="seleccionarTodos"
      (change)="seleccionarTodos = $any($event.target).checked; seleccionarTodosRegistros()" />

    <div>Selección</div>

  </div>

  @for (element of parent.distribuirtareas; track element) {

    <div class="tabla-celda">

      <input
        class="check-tabla"
        type="checkbox"
        [checked]="element.seleccionado"
        (change)="element.seleccionado = $any($event.target).checked" />

    </div>

  }

</div>

    <!-- COLUMNA: # INSTANCIA WORKFLOW-->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div># Instancia Workflow</div>
      </div>

      @for (element of parent.distribuirtareas; track element) {
        <ng-container>
          <div class="tabla-celda">
             <div>
              {{ element.instancia }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA: IDENTIFICADOR -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Identificador</div>
      </div>

      @for (element of parent.distribuirtareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ element.identificador }}
            </div>
          </div>
        </ng-container>
      }
    </div>

    <!-- COLUMNA: IDENTIFICADOR 1 -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Identificador 1</div>
      </div>

      @for (element of parent.distribuirtareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ element.identificador1 }}
            </div>
          </div>
        </ng-container>
      }
    </div>

        <!-- COLUMNA: # ID TAREA -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div># Id Tarea</div>
      </div>

      @for (element of parent.distribuirtareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ element.identificadortarea }}
            </div>
          </div>
        </ng-container>
      }
    </div>

        <!-- COLUMNA: NOMBRE TAREA -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Nombre Tarea</div>
      </div>

      @for (element of parent.distribuirtareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ element.nombre }}
            </div>
          </div>
        </ng-container>
      }
    </div>

        <!-- COLUMNA: ESTADO TAREA -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Estado Tarea</div>
      </div>

      @for (element of parent.distribuirtareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ element.estadoTarea }}
            </div>
          </div>
        </ng-container>
      }
    </div>

        <!-- FECHA DE ASIGNACIÓN -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Fecha de Asignación</div>
      </div>

      @for (element of parent.distribuirtareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ element.fechaInicio }}
            </div>
          </div>
        </ng-container>
      }
    </div>

        <!-- COLUMNA: # DIAS ASIGNADA -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div># Dias Asignada</div>
      </div>

      @for (element of parent.distribuirtareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ element.diasAsignada }}
            </div>
          </div>
        </ng-container>
      }
    </div>

        <!-- COLUMNA: RESPONSABLE -->
    <div class="tabla-columna">
      <div class="tabla-col-header">
        <div>Responsable</div>
      </div>

      @for (element of parent.distribuirtareas; track element) {
        <ng-container>
          <div class="tabla-celda">
            <div>
              {{ element.responsable }}
            </div>
          </div>
        </ng-container>
      }
    </div>

  </div>

  <!-- FOOTER -->
  <div class="tabla-footer">
    <div class="tabla-footer-text">
      Página {{ currentPage }} de {{ numberOfPages }}
    </div>

    <div class="paginador-boton" (click)="previousPage()">
      <span>chevron_left</span>
    </div>

    <div class="paginador-boton active" (click)="nextPage()">
      <span>chevron_right</span>
    </div>
  </div>
</div>

