<!-- FILA 2 -->
<div class="fila-filtros-fila3">

  <!-- TAREA CABEZA -->
  <div class="campo-lista">
    <label for="tareaCabeza">Tarea Cabeza</label>

    <select
      id="tareaCabeza"
      name="tareaCabeza"
      [(ngModel)]="nombreTareaCabezaN"
      required
      #tareaCabeza="ngModel"
      (ngModelChange)="onTareaChange($event)">

      <option value="">Seleccione una opción</option>

      @for (tarea of uc!.tarea; track tarea) {
        <option [ngValue]="tarea">
          {{ tarea }}
        </option>
      }

    </select>
  </div>

  <!-- TAREA COLA -->
  <div class="campo-lista">
    <label for="tareaCola">Tarea Cola</label>

    <select
      id="tareaCola"
      name="tareaCola"
      [(ngModel)]="nombreTareaColaN"
      required
      #tareaCola="ngModel"
      (ngModelChange)="onTareaChange($event)">

      <option value="">Seleccione una opción</option>

      @for (tarea of uc!.tarea; track tarea) {
        <option [ngValue]="tarea">
          {{ tarea }}
        </option>
      }

    </select>
  </div>

  <!-- ESTADO DE LA TAREA CABEZA -->
  <div class="campo-lista">
    <label for="tareaCabezaEstado">Estado de la tarea cabeza</label>

    <select
      id="tareaCabezaEstado"
      name="tareaCabezaEstado"
      [(ngModel)]="estadoN"
      required
      #tareaCabezaEstado="ngModel"
      (ngModelChange)="onEstadoChange($event)">

      <option value="">Seleccione una opción</option>

      @for (estado of uc!.estado; track estado) {
        <option [ngValue]="estado">
          {{ estado }}
        </option>
      }

    </select>
  </div>

  <!-- PRIMITIVA DE LA DEPENDENCIA -->
  <div class="campo-lista">
    <label for="primitivaDependencia">Primitiva de la dependencia</label>

    <select
      id="primitivaDependencia"
      name="primitivaDependencia"
      [(ngModel)]="primitivaN"
      required
      #primitivaDependencia="ngModel"
      (ngModelChange)="onPrimitivaChange($event)">

      <option value="">Seleccione una opción</option>

      @for (primitiva of uc!.primitiva; track primitiva) {
        <option [ngValue]="primitiva">
          {{ primitiva }}
        </option>
      }

    </select>
  </div>

  <!-- EXPRESIÓN -->
  <div class="campo-texto">
    <label for="expresion">Expresión</label>

    <input
      id="expresion"
      name="expresion"
      type="text"
      placeholder="Inserte expresión"
      [(ngModel)]="expresionN"
      required
      #expresion="ngModel"
    />
  </div>

  <!-- BOTONES EXPRESIÓN -->
  <div class="botones">

    <button class="btn-figma" type="button" (click)="and()">
      <span class="btn-icon">
        <img src="assets/img/save.svg" alt="AND" />
      </span>
      AND
    </button>

    <button class="btn-figma" type="button" (click)="or()">
      <span class="btn-icon">
        <img src="assets/img/save.svg" alt="OR" />
      </span>
      OR
    </button>

    <button class="btn-figma" type="button" (click)="NOT()">
      <span class="btn-icon">
        <img src="assets/img/save.svg" alt="NOT" />
      </span>
      NOT
    </button>

    <button class="btn-figma" type="button" (click)="save()">
      <span class="btn-icon">
        <img src="assets/img/save.svg" alt="Paréntesis" />
      </span>
      ()
    </button>

    <button class="btn-figma" type="button" (click)="atributo()">
      <span class="btn-icon">
        <img src="assets/img/save.svg" alt="Atributo" />
      </span>
      Atributo
    </button>


    
  </div>

  <!-- BOTONES FINALES -->
<div class="botones-nuevo-grupo">

  <button class="btn-figma" type="submit" (click)="save()">
    <span class="btn-icon">
      <img src="assets/img/save.svg" alt="Guardar" />
    </span>
    Guardar
  </button>

  @if (editMode()) {
    <button class="btn-figma" type="button" (click)="delete()">
      <span class="btn-icon">
        <img src="assets/img/trash.svg" alt="Eliminar" />
      </span>
      Eliminar
    </button>
  }

  <button class="btn-figma" type="button" (click)="cancel()">
    <span class="btn-icon">
      <img src="assets/img/cancel.svg" alt="Cancelar" />
    </span>
    Cancelar
  </button>

</div>
</div>