<!-- =========================================================
     FILTROS
========================================================= -->

<ibpm-filtros-busqueda-simulacion
  [uc]="this.parent"
  style="width: 100%">
</ibpm-filtros-busqueda-simulacion>


<!-- =========================================================
     INFORMACIÓN DEL PROCESO
     Se muestra cuando existe una instancia
========================================================= -->

@if (parent.informacionProceso && parent.informacionProceso.length > 0) {

  <div class="tabla-card">

    <!-- HEADER -->
    <div class="tabla-header-container">
      <div class="tabla-titulo">
        Información del proceso
      </div>
    </div>

    <!-- TABLA -->
    <div class="tabla-body">

      <!-- ENCABEZADOS -->
      <div class="tabla-columna tabla-header">

        <div class="tabla-col-header">
          Estado
        </div>

        <div class="tabla-col-header">
          Simulación
        </div>

        <div class="tabla-col-header">
          Fecha de Inicio
        </div>

        <div class="tabla-col-header">
          Fecha de Terminación
        </div>

        <div class="tabla-col-header">
          Instancia padre
        </div>

        <div class="tabla-col-header">
          Instancias hijas
        </div>

        <div class="tabla-col-header">
          Observaciones
        </div>

      </div>


      <!-- REGISTROS -->
      @for (
        proceso of parent.informacionProceso;
        track proceso
      ) {

        <div class="tabla-columna">

          <div class="tabla-celda">
            {{ proceso.estado }}
          </div>

          <div class="tabla-celda">
            {{ proceso.simulacion }}
          </div>

          <div class="tabla-celda">
            {{ proceso.fechaInicio }}
          </div>

          <div class="tabla-celda">
            {{ proceso.fechaTerminacion }}
          </div>

          <div class="tabla-celda">
            {{ proceso.instanciaPadre }}
          </div>

          <div class="tabla-celda">
            {{ proceso.instanciasHijas }}
          </div>

          <div class="tabla-celda">
            {{ proceso.observaciones }}
          </div>

        </div>

      }

    </div>

  </div>

}


<!-- =========================================================
     LISTA DE TAREAS DEL PROCESO
     Se muestra cuando existen tareas para la simulación
========================================================= -->

@if (parent.simulacion && parent.simulacion.length > 0) {

  <div class="tabla-card">

    <!-- HEADER -->
    <div class="tabla-header-container">
      <div class="tabla-titulo">
        Lista de tareas del proceso
      </div>
    </div>


    <!-- TABLA -->
    <div class="tabla-body">

      <!-- ENCABEZADOS -->
      <div class="tabla-columna tabla-header">

        <div class="tabla-col-header">
          Instancia
        </div>

        <div class="tabla-col-header">
          Num Tarea
        </div>

        <div class="tabla-col-header">
          Nombre de la tarea
        </div>

        <div class="tabla-col-header">
          Fecha de Asignación
        </div>

        <div class="tabla-col-header">
          Fecha de Ejecución
        </div>

        <div class="tabla-col-header">
          Fecha de Terminación
        </div>

        <div class="tabla-col-header">
          Estado
        </div>

        <div class="tabla-col-header">
          Responsable
        </div>

        <div class="tabla-col-header">
          Oportunidad
        </div>

        <div class="tabla-col-header">
          Acción
        </div>

      </div>


      <!-- REGISTROS -->
      @for (
        element of parent.simulacion;
        track element
      ) {

        <div class="tabla-columna">

          <div class="tabla-celda">
            {{ element.instancia }}
          </div>

          <div class="tabla-celda">
            {{ element.numTarea }}
          </div>

          <div class="tabla-celda">
            {{ element.nombre }}
          </div>

          <div class="tabla-celda">
            {{ element.fechaAsignacion }}
          </div>

          <div class="tabla-celda">
            {{ element.fechaEjecucion }}
          </div>

          <div class="tabla-celda">
            {{ element.fechaTerminacion }}
          </div>

          <div class="tabla-celda">
            {{ element.estadoTarea }}
          </div>

          <div class="tabla-celda">
            {{ element.responsable }}
          </div>


          <!-- OPORTUNIDAD -->
          <div class="tabla-celda">
            <span class="indicador-oportunidad">
              {{ element.oportunidad }}
            </span>
          </div>


          <!-- ACCIÓN -->
          <div class="tabla-celda acciones">

            <!-- Ejecutar tarea -->
            <button
              type="button"
              class="btn-accion"
              title="Ejecutar tarea"
              (click)="ejecutarTarea(element)">
              <img
                src="assets/img/ejecutar.svg"
                alt="Ejecutar tarea">
            </button>

            <!-- Ver expediente de tarea -->
            <button
              type="button"
              class="btn-accion"
              title="Ver expediente de tarea"
              (click)="verExpedienteTarea(element)">
              <img
                src="assets/img/carpeta.svg"
                alt="Ver expediente de tarea">
            </button>

            <!-- Ver detalle -->
            <button
              type="button"
              class="btn-accion"
              title="Ver detalle"
              (click)="verDetalle(element)">
              <img
                src="assets/img/detalle.svg"
                alt="Ver detalle">
            </button>

          </div>

        </div>

      }

    </div>


    <!-- PAGINACIÓN -->
    <div class="tabla-footer">

      <button
        type="button"
        (click)="previousPage()">
        Anterior
      </button>

      <span>
        Página {{ currentPage }} de {{ numberOfPages }}
      </span>

      <button
        type="button"
        (click)="nextPage()">
        Siguiente
      </button>

    </div>

  </div>

}