<div class="cont-filtro">
  <div class="usuarios-container">
    
    <!-- FILTROS -->
    <div class="filtros-container">

      <!-- TÍTULO -->
      <div class="filtros-titulo">Objeto Workflow</div>

      <!-- FILA 1 -->
      <div class="fila-filtros">


        <!-- NOMBRE DEL OBJETO WORKFLOW -->
        <div class="campo-texto-filtro ">
           <label for="description">Nombre</label>
          <input
            type="text"
            [(ngModel)]="nombreObjetoWN"
            placeholder="Inserte nombre del objeto workflow"
          />
        </div>

        <!--BREVE DESCRIPCION DEL OBJETO WORKFLOW-->
        <div class="campo-texto-filtro ">
          <label for="description">Breve descripción</label>
          <input
            type="text"
            [(ngModel)]="descripcionObjetoWN"
            placeholder="Inserte breve descripción del objeto workflow"
          />
        </div>
      </div>


        <!-- Guardar -->
        <button class="btn-figma" (click)="save()">
          <span class="btn-icon">
            <img src="assets/img/save.svg" alt="Guardar" />
          </span>
          <span class="label">Guardar</span>
        </button>

        <!-- Limpiar filtros
        
        <button class="btn-figma" (click)="limpiarFiltros()">
          <span class="btn-icon">
            <img src="assets/img/limpiar.svg" alt="Limpiar filtros" />
          </span>
          <span class="label">Limpiar filtros</span>
        </button>-->

      </div>
    </div>
  </div>

  