 <!-- <form #form="ngForm">
<div class="cont-nuevo-workflow">


    <!-- TARJETA DATOS DE LA TAREA -->
    <div class="card-nuevo-workflow-general">

      <div class="card-header">
        <h3>Datos de la tarea</h3>
      </div>

      <div class="card-content">
        <div class="tbl-nuevo-workflow">

          <!-- NUMERO -->
          <div class="campo-texto">
            <label for="numeroTarea">Número</label>
            <input
              id="numeroTarea"
              name="numeroTarea"
              type="text"
              placeholder="Inserte número de la tarea"
              [(ngModel)]="numeroTareaN"
              required
              #numeroTarea="ngModel"
            />
            @if (numeroTarea.errors?.['required']) {
              <div class="error">El número de la tarea es obligatorio</div>
            }
          </div>

          <!-- NOMBRE -->
          <div class="campo-texto">
            <label for="nombreTarea">Nombre</label>
            <input
              id="nombreTarea"
              name="nombreTarea"
              type="text"
              placeholder="Inserte nombre de la tarea"
              [(ngModel)]="nombreTareaN"
              required
              #nombreTarea="ngModel"
            />
            @if (nombreTarea.errors?.['required']) {
              <div class="error">El nombre de la tarea es obligatorio.</div>
            }
          </div>

          <!-- NOMBRE LARGO -->
          <div class="campo-texto">
            <label for="nombreLargo">Nombre largo</label>
            <input
              id="nombreLargo"
              name="nombreLargo"
              type="text"
              placeholder="Inserte nombre largo"
              [(ngModel)]="nombreLargoN"
              required
              #nombreLargo="ngModel"
            />
          </div>

          <!-- ESTADO DEL OBJETO -->
          <div class="campo-texto">
            <label for="estadoObjeto">Estado del objeto</label>
            <input
              id="estadoObjeto"
              name="estadoObjeto"
              type="text"
              placeholder="Inserte estado del objeto"
              [(ngModel)]="estadoObjetoN"
              required
              #estadoObjeto="ngModel"
            />
          </div>

          <!-- MODELO DE LA CARPETA -->
          <div class="campo-texto">
            <label for="modeloCarpeta">Modelo de la carpeta</label>
            <input
              id="modeloCarpeta"
              name="modeloCarpeta"
              type="text"
              placeholder="Inserte modelo de la carpeta"
              [(ngModel)]="modeloCarpetaN"
              required
              #modeloCarpeta="ngModel"
            />
          </div>

          <!-- DESCRIPCIÓN -->
          <div class="campo-texto">
            <label for="descripcion">Breve descripción</label>
            <input
              id="descripcion"
              name="descripcion"
              type="text"
              placeholder="Inserte descripción"
              [(ngModel)]="descripcionN"
              required
              #descripcion="ngModel"
            />
          </div>

          <!-- TIPO -->
          <div class="campo-lista">
            <label for="tipo">Tipo</label>
            <select
              id="tipo"
              name="tipo"
              [(ngModel)]="tipoN"
              required
              #tipo="ngModel"
              (ngModelChange)="onTipoChange($event)"
            >
              <option>Seleccione una opción</option>
              @for (tipo of tiposList; track tipo) {
                <option [ngValue]="tipo">
                  {{ tipo.code }}
                </option>
              }
            </select>
          </div>

          <!-- HERRAMIENTA -->
          <div class="campo-lista">
            <label for="herramienta">Herramienta</label>
            <select
              id="herramienta"
              name="herramienta"
              [(ngModel)]="herramientaN"
              required
              #herramienta="ngModel"
              (ngModelChange)="onHerramientaChange($event)"
            >
              <option value="">Seleccione una opción</option>

              @for (herramienta of herramientasList; track herramienta) {
                <option [ngValue]="herramienta">
                  {{ herramienta.code }}
                </option>
              }
            </select>
          </div>

          <!-- ROL QUE REALIZA LA TAREA -->
          <div class="campo-lista">
            <label for="rol">Rol que realiza la tarea</label>
            <select
              id="rol"
              name="rol"
              [(ngModel)]="rolN"
              required
              #rol="ngModel"
              (ngModelChange)="onRolChange($event)"
            >
              <option value="">Seleccione una opción</option>

              @for (rol of rolesList; track rol) {
                <option [ngValue]="rol">
                  {{ rol.code }}
                </option>
              }
            </select>
          </div>

          <!-- METÓDO DE ASIGNACIÓN UTILIZADO -->
          <div class="campo-lista">
            <label for="metodoAsignacion">Método de asignación utilizado</label>
            <select
              id="metodoAsignacion"
              name="metodoAsignacion"
              [(ngModel)]="metodoAsignacionN"
              required
              #metodoAsignacion="ngModel"
              (ngModelChange)="onMetodoAsignacionChange($event)"
            >
              <option value="">Seleccione una opción</option>

              @for (metodoAsignacion of metodosAsignacionList; track metodoAsignacion) {
                <option [ngValue]="metodoAsignacion">
                  {{ metodoAsignacion.code }}
                </option>
              }
            </select>
          </div>
        </div>


        <!-- DURACION ESTIMADA -->
          <div class="campo-texto">
            <label for="diasDuracionEstimada">Duración estimada Días</label>
            <input
              id="diasDuracionEstimada"
              name="diasDuracionEstimada"
              type="text"
              placeholder="Inserte número de la tarea"
              [(ngModel)]="diasDuracionEstimadaN"
              required
              #diasDuracionEstimada="ngModel"
            />
          </div>

          <div class="campo-texto">
            <label for="horasDuracionEstimada">Horas</label>
            <input
              id="horasDuracionEstimada"
              name="horasDuracionEstimada"
              type="text"
              placeholder="Inserte número de la tarea"
              [(ngModel)]="horasDuracionEstimadaN"
              required
              #horasDuracionEstimada="ngModel"
            />
          </div>

          <div class="campo-texto">
            <label for="minutosDuracionEstimada">Minutos</label>
            <input
              id="minutosDuracionEstimada"
              name="minutosDuracionEstimada"
              type="text"
              placeholder="Inserte número de la tarea"
              [(ngModel)]="minutosDuracionEstimadaN"
              required
              #minutosDuracionEstimada="ngModel"
            />
          </div>

          <div class="campo-texto">
            <label for="segundosDuracionEstimada">Segundos</label>
            <input
              id="segundosDuracionEstimada"
              name="segundosDuracionEstimada"
              type="text"
              placeholder="Inserte número de la tarea"
              [(ngModel)]="segundosDuracionEstimadaN"
              required
              #segundosDuracionEstimada="ngModel"
            />
          </div>

          <!-- TIEMPOS ALARMAS -->
          <div class="campo-texto">
            <label for="diasAlertaAmarilla">Tiempo alerta amarilla Días</label>
            <input
              id="diasAlertaAmarilla"
              name="diasAlertaAmarilla"
              type="text"
              placeholder="Inserte número de la tarea"
              [(ngModel)]="diasAlarmaAmarillaN"
              required
              #diasAlertaAmarilla="ngModel"
            />
          </div>

          <div class="campo-texto">
            <label for="horasAlertaAmarilla">Horas</label>
            <input
              id="horasAlertaAmarilla"
              name="horasAlertaAmarilla"
              type="text"
              placeholder="Inserte horas de la alerta amarilla"
              [(ngModel)]="horasAlarmaAmarillaN"
              required
              #horasAlertaAmarilla="ngModel"
            />
          </div>

           <div class="campo-texto">
            <label for="minutosAlertaAmarilla">Minutos</label>
            <input
              id="minutosAlertaAmarilla"
              name="minutosAlertaAmarilla"
              type="text"
              placeholder="Inserte minutos de la alerta amarilla"
              [(ngModel)]="minutosAlarmaAmarillaN"
              required
              #minutosAlertaAmarilla="ngModel"
            />
          </div>

          <div class="campo-texto">
            <label for="segundosAlertaAmarilla">Segundos</label>
            <input
              id="segundosAlertaAmarilla"
              name="segundosAlertaAmarilla"
              type="text"
              placeholder="Inserte segundos de la alerta amarilla"
              [(ngModel)]="segundosAlarmaAmarillaN"
              required
              #segundosAlertaAmarilla="ngModel"
            />
            @if (segundosAlertaAmarilla.errors?.['required']) {
              <div class="error">El número de la tarea es obligatorio</div>
            }
          </div>

          <!-- Editar documentos del proceso

    <div class="assigned-actions">
      <span class="editarDocProceso">Editar documento del proceso</span>
      <div
        class="switch"
        [ngClass]="tipo.editarDocProceso ? 'on' : 'off'"
        (click)="toggleObligatorio(tipo)"
      > </div>-->
    </div>
        <!-- PARTE DE SELECCIONAR SERIES, TIPOS DE DOCUMENTO-->
        <div class="serie-container"> 
         <div class="serie-container">
          <div class="serie-content">
            <!-- Header -->
            <div class="serie-header">
              <span class="serie-title">Serie</span>
            </div>

            <!-- Selector -->
            <div class="serie-body">
              <div class="campo-lista">
                <label for="serie">Serie</label>
                <select
                  id="serie"
                  name="serie"
                  [(ngModel)]="serieN"
                  required
                  #serie="ngModel"
                  (ngModelChange)="onSerieChange($event)"
                >
                  <option value="">Seleccione una opción</option>

                  @for (serie of seriesList; track serie) {
                    <option [ngValue]="serie">
                      {{ serie.name }}
                    </option>
                  }
                </select>
          </div>
        </div>


<div class="card">
  <!-- Header -->
  <div class="card-header">
    <span class="card-title">Tipos documento de la serie</span>
  </div>

  <!-- Lista de tipos -->
  @for(tipo of tiposDocumentoAgregarList; track tipo) {
  <div
    class="check-row"
  >

    <div [ngClass]="{'checkbox': true, 'selected': tipo.selected}">
      <div class="checkbox-box"></div>
      <div class="checkbox-check"><input type="checkbox" [(ngModel)]="tipo.selected" /></div>
    </div>

    <span class="check-label">
      {{ tipo.name }}
    </span>

  </div>
  }
</div>
      

        <div class="actions">
  <!-- Botón Asignar -->
  <button
    class="btn btn-primary"
    type="button"
    (click)="asignar()"
  >
    <span class="btn-icon assign-icon"></span>
    <span>Asignar</span>
  </button> 

  <!-- Botón Retirar -->
  <button
    class="btn btn-outline"
    type="button"
    (click)="retirar()"
  >
    <span class="btn-icon remove-icon"></span>
    <span>Retirar</span>
  </button>
</div>


        <div class="card">
  <!-- Header -->
  <div class="card-header">
    <div class="card-title">
      Tipos documento Asignados a la tareas
    </div>
  </div>

  <!-- Item -->
  @for(tipo of tiposDocumentoAsignadosTareaList; track tipo) {
  <div class="assigned-row" >  <!--*ngFor="let item of tiposDocumentoList"-->
    <!-- Checkbox -->
    <div class="checkbox selected">
      <input type="checkbox" [(ngModel)]="tipo.visible" />
    </div>

    <!-- Título -->
    <div class="assigned-title">
      {{ tipo.name }}
    </div>

    <!-- Acciones -->
    <div class="assigned-actions">
      <span class="required">Requerido</span>

      <div
        class="switch"
        [ngClass]="tipo.obligatorio ? 'on' : 'off'"
        (click)="toggleObligatorio(tipo)"
      > </div>
    </div>
  </div>
 }
</div>

    <!-- BOTONES FINALES -->
    <div class="botones-nuevo-grupo">

      <button class="btn-figma" type="submit" (click)="save()">
        <span class="btn-icon">
      <img src="assets/img/save.svg" alt="Guardar" />
    </span>
    Guardar</button>


      @if (editMode()) {
        <button class="btn-figma" type="button" (click)="delete()">
          <span class="btn-icon">
        <img src="assets/img/trash.svg" alt="Eliminar" />
      </span>
      Cancelar</button>
      }

     <button class="btn-figma" type="button" (click)="cancel()">
        <span class="btn-icon">
      <img src="assets/img/cancel.svg" alt="Cancelar" />
    </span>
    Cancelar</button>
    </div>
    </div>
    </div>
</div>
<!--</form>-->

