<div class="cont-nuevo-workflow">
  <form #form="ngForm">

    <!-- TARJETA DATOS DE LA TAREA -->
    <div class="card-nuevo-workflow-general">

      <div class="card-header">
        <h3>Datos de la tarea</h3>
      </div>

      <div class="card-content">
        <div class="tbl-nuevo-workflow">

          <!-- NUMERO -->
          <div class="campo-texto">
            <label for="name">Número</label>
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Inserte número de la tarea"
              [(ngModel)]="nameN"
              required
              #name="ngModel"
            />
            @if (name.errors?.['required']) {
              <div class="error">El número de la tarea es obligatorio</div>
            }
          </div>

          <!-- NOMBRE -->
          <div class="campo-texto">
            <label for="name">Nombre</label>
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Inserte nombre de la tarea"
              [(ngModel)]="nameN"
              required
              #name="ngModel"
            />
            @if (name.errors?.['required']) {
              <div class="error">El nombre de la tarea es obligatorio.</div>
            }
          </div>

          <!-- NOMBRE LARGO -->
          <div class="campo-texto">
            <label for="description">Nombre largo</label>
            <input
              id="description"
              name="description"
              type="text"
              placeholder="Inserte nombre largo"
              [(ngModel)]="descriptionN"
              required
              #description="ngModel"
            />
          </div>

          <!-- ESTADO DEL OBJETO -->
          <div class="campo-texto">
            <label for="description">Estado del objeto</label>
            <input
              id="description"
              name="description"
              type="text"
              placeholder="Inserte descripcion"
              [(ngModel)]="descriptionN"
              required
              #description="ngModel"
            />
          </div>

          <!-- MODELO DE LA CARPETA -->
          <div class="campo-texto">
            <label for="description">Modelo de la carpeta</label>
            <input
              id="description"
              name="description"
              type="text"
              placeholder="Inserte descripcion"
              [(ngModel)]="descriptionN"
              required
              #description="ngModel"
            />
          </div>

          <!-- DESCRIPCIÓN -->
          <div class="campo-texto">
            <label for="description">Breve descripcion</label>
            <input
              id="description"
              name="description"
              type="text"
              placeholder="Inserte descripcion"
              [(ngModel)]="descriptionN"
              required
              #description="ngModel"
            />
          </div>

          <!-- TIPO -->
          <div class="campo-lista">
            <label for="company">Tipo</label>
            <select
              id="company"
              name="company"
              [(ngModel)]="companyObjectN"
              required
              #company="ngModel"
              (ngModelChange)="onCompanyChange($event)"
            >
              <option value="">Seleccione una opción</option>

              @for (company of companiesList; track company) {
                <option [ngValue]="company">
                  {{ company.largeName }}
                </option>
              }
            </select>
          </div>

          <!-- HERRAMIENTA -->
          <div class="campo-lista">
            <label for="company">Herramienta</label>
            <select
              id="company"
              name="company"
              [(ngModel)]="companyObjectN"
              required
              #company="ngModel"
              (ngModelChange)="onCompanyChange($event)"
            >
              <option value="">Seleccione una opción</option>

              @for (company of companiesList; track company) {
                <option [ngValue]="company">
                  {{ company.largeName }}
                </option>
              }
            </select>
          </div>

          <!-- ROL QUE REALIZA LA TAREA -->
          <div class="campo-lista">
            <label for="company">Rol que realiza la tarea</label>
            <select
              id="company"
              name="company"
              [(ngModel)]="companyObjectN"
              required
              #company="ngModel"
              (ngModelChange)="onCompanyChange($event)"
            >
              <option value="">Seleccione una opción</option>

              @for (company of companiesList; track company) {
                <option [ngValue]="company">
                  {{ company.largeName }}
                </option>
              }
            </select>
          </div>

          <!-- METÓDO DE ASIGNACIÓN UTILIZADO -->
          <div class="campo-lista">
            <label for="company">Método de asignación utilizado</label>
            <select
              id="company"
              name="company"
              [(ngModel)]="companyObjectN"
              required
              #company="ngModel"
              (ngModelChange)="onCompanyChange($event)"
            >
              <option value="">Seleccione una opción</option>

              @for (company of companiesList; track company) {
                <option [ngValue]="company">
                  {{ company.largeName }}
                </option>
              }
            </select>
          </div>
        </div>

        <!-- PARTE DE SELECCIONAR SERIES, TIPOS DE DOCUMENTO-->
        <div class="serie-container"> 

  <!-- HEADER -->
  <div class="serie-header">
    <div class="serie-title">Serie</div>
  </div>

  <!-- SELECT
  <div class="serie-select-container">
    <div class="serie-select">
      <div class="serie-select-box">
        <div class="serie-select-content">
          <div class="serie-select-label">
            {{ accionesGrupo }}
          </div>

          <span class="material-icons">arrow_drop_down</span>
        </div>
      </div>
      <div class="serie-select-divider"></div>
    </div>
  </div>  -->

  <!-- TABLA -->
  <div class="serie-table">

    <!-- IZQUIERDA
    <div class="serie-table-left">
      <div class="table-header">
        <div class="header-text">Tipos de documento de la serie</div>
        <div class="header-indicator"></div>
      </div>

      <div
        class="table-row"
        *ngFor="let doc of documentos | slice:(pageIndex * pageSize):(pageIndex * pageSize + pageSize)"
      >
        {{ doc.nombre }}
      </div>  -->
    </div> 

    <!-- DERECHA
    <div class="serie-table-right">
      <div class="table-header center">Asignar</div>

      <div
        class="table-switch"
        *ngFor="let doc of documentos | slice:(pageIndex * pageSize):(pageIndex * pageSize + pageSize)"
        (click)="toggleAsignado(doc)"
      >
        <div class="switch" [class.active]="doc.asignado"></div>
      </div>
    </div> -->

  </div> 

  <!-- FOOTER / PAGINACIÓN 
  <div class="serie-footer">
    <div class="footer-text">Registros por página:</div>

    <div class="footer-select">
      <span>{{ pageSize }}</span>
      <span class="material-icons">arrow_drop_down</span>
    </div>

    <div class="footer-text">
      {{ pageIndex * pageSize + 1 }} -
      {{ (pageIndex + 1) * pageSize > total ? total : (pageIndex + 1) * pageSize }}
      of {{ total }}
    </div>

    <button
      class="footer-btn"
      [class.disabled]="pageIndex === 0"
      (click)="prevPage()"
    >
      <span class="material-icons">chevron_left</span>
    </button>

    <button
      class="footer-btn"
      [class.disabled]="(pageIndex + 1) * pageSize >= total"
      (click)="nextPage()"
    >
      <span class="material-icons">navigate_next</span>
    </button>
  </div>

</div> -->

<div class="tareas-container">

  <!-- HEADER -->
  <div class="tareas-header">
    <div class="tareas-title">Tareas asignadas</div>
  </div>

  <!-- TABLA -->
  <div class="tabla-container">

    <!-- COLUMNA IZQUIERDA -->
    <div class="tabla-col tabla-col-texto">

      <div class="tabla-header">
        <div class="tabla-header-text">Tipos de documento de la serie</div>
        <div class="tabla-indicator"></div>
      </div>

      <div class="tabla-row">Comunicaciones oficiales (oficios / memorandos)</div>
      <div class="tabla-row">Gestión de correspondencia oficial (oficios y memorandos).</div>
      <div class="tabla-row">Tramitación de documentos administrativos (notas).</div>
      <div class="tabla-row">Supervisión de tareas relacionadas con documentos.</div>
      <div class="tabla-row">Organización de archivos y gestión documental.</div>
      <div class="tabla-row">Elaboración de informes sobre gestión documental.</div>
      <div class="tabla-row">Revisión de políticas de archivo y documentación.</div>
      <div class="tabla-row">Actualización de registros de documentos oficiales.</div>
      <div class="tabla-row">Clasificación de documentos según normativas.</div>
      <div class="tabla-row">Auditoría de procesos de gestión documental.</div>

    </div>

    <!-- COLUMNA REQUERIDO -->
    <div class="tabla-col tabla-col-switch">
      <div class="tabla-header center">Requerido</div>

      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
    </div>

    <!-- COLUMNA ASIGNADO -->
    <div class="tabla-col tabla-col-switch">
      <div class="tabla-header center">Asignado</div>

      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
      <div class="tabla-switch"><div class="switch active"></div></div>
    </div>

  </div>

  <!-- FOOTER / PAGINACIÓN -->
  <div class="tabla-footer">

    <div class="footer-text">Registros por página:</div>

    <div class="footer-select">
      <span>5</span>
      <span class="material-icons">arrow_drop_down</span>
    </div>

    <div class="footer-text">1-5 of 10</div>

    <button class="footer-btn disabled">
      <span class="material-icons">chevron_left</span>
    </button>

    <button class="footer-btn">
      <span class="material-icons">navigate_next</span>
    </button>

  </div>

</div>


      </div>

    </div>

    <!-- BOTONES FINALES -->
    <div class="botones-nuevo-grupo">

      <button class="btn-figma" type="submit" (click)="save()">
        <span class="btn-icon">
      <img src="assets/img/save.svg" alt="Guardar" />
    </span>
    Guardar</button>


      @if (editMode()) {
        <button class="btn-figma" type="button" (click)="delete()">
          <span class="btn-icon">
        <img src="assets/img/trash.svg" alt="Eliminar" />
      </span>
      Cancelar</button>
      }

     <button class="btn-figma" type="button" (click)="cancel()">
        <span class="btn-icon">
      <img src="assets/img/cancel.svg" alt="Cancelar" />
    </span>
    Cancelar</button>
    </div>
  </form>
</div>

