<div class="cont-filtro">
  <div class="usuarios-container">
    
    <!-- FILTROS -->
    <div class="filtros-container">

      <!-- TÍTULO -->
      <div class="filtros-titulo">Filtros de búsqueda</div>

      <!-- FILA 1 -->
      <div class="fila-filtros">
        
        <!-- Nombre -->
        <div class="campo-texto-filtro ">
          <label for="description">Nombre de la dependencia</label>
          <input
            type="text"
            [(ngModel)]="nombreB"
            placeholder="Inserte nombre de la dependencia"
            (keydown.enter)="buscar()"
          />
        </div>

        <!-- Nombre -->
        <div class="campo-texto-filtro ">
          <label for="description">Nombre de la tarea cabeza</label>
          <input
            type="text"
            [(ngModel)]="nombreTareaCabezaB"
            placeholder="Inserte nombre de la tarea cabeza"
            (keydown.enter)="buscar()"
          />
        </div>

        <!-- Nombre -->
        <div class="campo-texto-filtro ">
          <label for="description">Nombre de la tarea cola</label>
          <input
            type="text"
            [(ngModel)]="nombreTareaColaB"
            placeholder="Inserte nombre de la tarea cola"
            (keydown.enter)="buscar()"
          />
        </div>

      </div>

        <!-- Buscar -->
        <button class="btn-figma" (click)="buscar()">
          <span class="btn-icon">
            <img src="assets/img/search.svg" alt="Buscar" />
          </span>
          <span class="label">Buscar</span>
        </button>

        <!-- Limpiar filtros
        
        <button class="btn-figma" (click)="limpiarFiltros()">
          <span class="btn-icon">
            <img src="assets/img/limpiar.svg" alt="Limpiar filtros" />
          </span>
          <span class="label">Limpiar filtros</span>
        </button>-->

      </div>
    </div>
  </div>
