 <!-- <form #form="ngForm">
<div class="cont-nuevo-rol">


    <!-- TARJETA DATOS DE LA TAREA -->
    <div class="card-nuevo-rol-general">

      <div class="card-header">
        <h3>Datos del rol</h3>
      </div>

      <div class="card-content">
        <div class="tbl-nuevo-rol">


          <!-- NOMBRE -->
          <div class="campo-texto">
            <label for="nombreTarea">Nombre</label>
            <input
              id="nombreTarea"
              name="nombreTarea"
              type="text"
              placeholder="Inserte nombre del rol"
              [(ngModel)]="nombreRolN"
              required
              #nombreRol="ngModel"
            />
            @if (nombreRol.errors?.['required']) {
              <div class="error">El nombre del rol es obligatorio.</div>
            }
          </div>

          <!-- DESCRIPCIÓN -->
          <div class="campo-texto">
            <label for="descripcion">Breve descripción</label>
            <input
              id="descripcion"
              name="descripcion"
              type="text"
              placeholder="Inserte descripción"
              [(ngModel)]="descripcionN"
              required
              #descripcion="ngModel"
            />
          </div>


        <!-- PARTE DE SELECCIONAR RESPONSABLE, ROL-->
      <div class="serie-container"> 
         <div class="serie-container">
          <div class="serie-content">
            <!-- Header -->
            <div class="serie-header">
              <span class="serie-title">Responsables</span>
            </div>

<div class="card">
  <!-- Header -->
  <div class="card-header">
    <span class="card-title">Responsables</span>
  </div>

  <!-- Lista de roles -->
  @for(responsable of responsablesAgregarList; track responsable) {
  <div
    class="check-row"
  >

    <div [ngClass]="{'checkbox': true, 'selected': responsable.selected}">
      <div class="checkbox-box"></div>
      <div class="checkbox-check"><input type="checkbox" [(ngModel)]="responsable.selected" /></div>
    </div>

    <span class="check-label">
      {{ responsable.name }}
    </span>

  </div>
  }
</div>
        <div class="actions">
  <!-- Botón Asignar -->
  <button
    class="btn btn-primary"
    type="button"
    (click)="asignar()"
  >
    <span class="btn-icon assign-icon"></span>
    <span>Asignar</span>
  </button> 

  <!-- Botón Retirar -->
  <button
    class="btn btn-outline"
    type="button"
    (click)="retirar()"
  >
    <span class="btn-icon remove-icon"></span>
    <span>Retirar</span>
  </button>
</div>


        <div class="card">
  <!-- Header -->
  <div class="card-header">
    <div class="card-title">
      Responsables asignados al rol
    </div>
  </div>

  
 
</div>

    <!-- BOTONES FINALES -->
    <div class="botones-nuevo-grupo">

      <button class="btn-figma" type="submit" (click)="save()">
        <span class="btn-icon">
      <img src="assets/img/save.svg" alt="Guardar" />
    </span>
    Guardar</button>


      @if (editMode()) {
        <button class="btn-figma" type="button" (click)="delete()">
          <span class="btn-icon">
        <img src="assets/img/trash.svg" alt="Eliminar" />
      </span>
      Cancelar</button>
      }

     <button class="btn-figma" type="button" (click)="cancel()">
        <span class="btn-icon">
      <img src="assets/img/cancel.svg" alt="Cancelar" />
    </span>
    Cancelar</button>
    </div>
    </div>
    </div>
</div>
<!--</form>-->

