<div class="cont-nuevo-workflow">
  <form #form="ngForm">

    <!-- TARJETA DATOS DE ENTIDADES -->
    <div class="card-nuevo-entidad-general">

      <div class="card-header">
        <h3>Datos de la entidad</h3>
      </div>

      <div class="card-content">
        <div class="tbl-nueva-entidad">

          <!-- NOMBRE -->
          <div class="campo-texto">
            <label for="name">Nombre</label>
            <input
              id="nombreEntidad"
              name="nombreEntidad"
              type="text"
              placeholder="Inserte nombre de la entidad"
              [(ngModel)]="nombreEntidadN"
              required
              #name="ngModel"
            />
            @if (name.errors?.['required']) {
              <div class="error">El nombre de la entidad es obligatorio.</div>
            }
          </div>

          <!-- DESCRIPCIÓN -->
          <div class="campo-texto">
            <label for="description">Breve descripcion</label>
            <input
              id="descripcion"
              name="descripcion"
              type="text"
              placeholder="Inserte descripcion"
              [(ngModel)]="descripcionN"
              required
              #description="ngModel"
            />
          </div>
        </div>
      </div>

    </div>

    <!-- BOTONES FINALES -->
    <div class="botones-nuevo-grupo">

      <button class="btn-figma" type="submit" (click)="save()">
        <span class="btn-icon">
      <img src="assets/img/save.svg" alt="Guardar" />
    </span>
    Guardar</button>


      @if (editMode()) {
        <button class="btn-figma" type="button" (click)="delete()">
          <span class="btn-icon">
        <img src="assets/img/trash.svg" alt="Eliminar" />
      </span>
      Cancelar</button>
      }

     <button class="btn-figma" type="button" (click)="cancel()">
        <span class="btn-icon">
      <img src="assets/img/cancel.svg" alt="Cancelar" />
    </span>
    Cancelar</button>
    </div>
  </form>
</div>
