 <!-- <form #form="ngForm">
<div class="cont-nuevo-evento-inicio"> -->


    <!-- TARJETA DATOS DE LA TAREA -->
    <div class="card-nuevo-evento-inicio">

      <div class="card-header">
        <h3>Datos de la tarea</h3>
      </div>

      <div class="card-content">
        <div class="tbl-nuevo-evento-inicio">


          <!-- NOMBRE -->
          <div class="campo-texto">
            <label for="nombreEventoInicio">Nombre</label>
            <input
              id="nombreEventoInicio"
              name="nombreEventoInicio"
              type="text"
              placeholder="Inserte nombre del evento de inicio"
              [(ngModel)]="nameN"
              required
              #nombreEventoInicio="ngModel"
            />
            @if (nombreEventoInicio.errors?.['required']) {
              <div class="error">El nombre deL evento de inicio es obligatorio.</div>
            }
          </div>

          <!-- NOMBRE LARGO -->
          <div class="campo-texto">
            <label for="nombreLargo">Nombre largo</label>
            <input
              id="nombreLargo"
              name="nombreLargo"
              type="text"
              placeholder="Inserte nombre largo"
              [(ngModel)]="longNameN"
              required
              #nombreLargo="ngModel"
            />
          </div>


          <!-- MODELO DE LA CARPETA -->
          <div class="campo-texto">
            <label for="modeloCarpeta">Modelo de la carpeta</label>
            <input
              id="modeloCarpeta"
              name="modeloCarpeta"
              type="text"
              placeholder="Inserte modelo de la carpeta"
              [(ngModel)]="modeloCarpetaN"
              required
              #modeloCarpeta="ngModel"
            />
          </div>

          <!-- DESCRIPCIÓN -->
          <div class="campo-texto">
            <label for="descripcion">Breve descripción</label>
            <input
              id="descripcion"
              name="descripcion"
              type="text"
              placeholder="Inserte descripción"
              [(ngModel)]="descriptionN"
              required
              #descripcion="ngModel"
            />
          </div>

          <!-- HERRAMIENTA -->

          <div class="campo-lista">
            <label for="herramienta">Herramienta</label>
            <select
              id="herramienta"
              name="herramienta"
              [(ngModel)]="herramientasN"
              required
              #herramienta="ngModel"
              (ngModelChange)="onHerramientaChange($event)"
            >
              <option value="">Seleccione una opción</option>

              @for (herramienta of herramientasList; track herramienta) {
                <option [ngValue]="herramienta">
                  {{ herramienta.code }}
                </option>
              }
            </select>
          </div>

          <!-- ASIGNAR RESPONSABLE -->
          <div class="campo-lista">
            <label for="Asignar Responsable">¿Asignar primera tarea a responsable que inicia el proceso?</label>
            <select
              id="Asignar Responsable"
              name="Asignar Responsable"
              [(ngModel)]="supervisorN"
              [(ngModel)]="supervisorN"
              required
              #supervisor="ngModel"
              (ngModelChange)="onSupervisorChange($event)"
            >
              <option>Seleccione una opción</option>
              @for (supervisor of supervisorsList; track supervisor) {
                <option [ngValue]="supervisor">
                  {{ supervisor.code }}
                </option>
              }
            </select>
          </div>

         <!-- MODELO DE LA CARPETA -->

          <div class="campo-texto">
            <label for="modeloCarpeta">Modelo de la carpeta</label>
            <input
              id="modeloCarpeta"
              name="modeloCarpeta"
              type="text"
              placeholder="Inserte modelo de la carpeta"
              [(ngModel)]="modeloCarpetaN"
              required
              #modeloCarpeta="ngModel"
            />
          </div>


          <!-- Editar documentos del proceso

    <div class="assigned-actions">
      <span class="editarDocProceso">Editar documento del proceso</span>
      <div
        class="switch"
        [ngClass]="tipo.editarDocProceso ? 'on' : 'off'"
        (click)="toggleObligatorio(tipo)"
      > </div>-->
    </div>
        <!-- PARTE DE SELECCIONAR SERIES, TIPOS DE DOCUMENTO-->
        <div class="serie-container"> 
         <div class="serie-container">
          <div class="serie-content">
            <!-- Header -->
            <div class="serie-header">
              <span class="serie-title">Serie</span>
            </div>

            <!-- Selector -->
            <div class="serie-body">
              <div class="campo-lista">
                <label for="serie">Serie</label>
                <select
                  id="serie"
                  name="serie"
                  [(ngModel)]="serieN"
                  required
                  #serie="ngModel"
                  (ngModelChange)="onSerieChange($event)"
                >
                  <option value="">Seleccione una opción</option>

                  @for (serie of seriesList; track serie) {
                    <option [ngValue]="serie">
                      {{ serie.name }}
                    </option>
                  }
                </select>
          </div>
        </div>


<div class="card">
  <!-- Header -->
  <div class="card-header">
    <span class="card-title">Tipos documento de la serie</span>
  </div>

  <!-- Lista de tipos -->
  @for(tipo of tiposDocumentoAgregarList; track tipo) {
  <div
    class="check-row"
  >

    <div [ngClass]="{'checkbox': true, 'selected': tipo.selected}">
      <div class="checkbox-box"></div>
      <div class="checkbox-check"><input type="checkbox" [(ngModel)]="tipo.selected" /></div>
    </div>

    <span class="check-label">
      {{ tipo.name }}
    </span>

  </div>
  }
</div>
      


  <div class="actions">
  <!-- Botón Asignar -->
  <button
    class="btn btn-primary"
    type="button"
    (click)="asignar()"
  >
    <span class="btn-icon assign-icon"></span>
    <span>Asignar</span>
  </button> 

  <!-- Botón Retirar -->
  <button
    class="btn btn-outline"
    type="button"
    (click)="retirar()"
  >
    <span class="btn-icon remove-icon"></span>
    <span>Retirar</span>
  </button>
</div>


 <div class="card">
  <!-- Header -->
  <div class="card-header">
    <div class="card-title">
      Tipos documento Asignados a la tareas
    </div>
  </div>

  <!-- Item -->
  @for(tipo of tiposDocumentoAsignadosTareaList; track tipo) {
  <div class="assigned-row" >  <!--*ngFor="let item of tiposDocumentoList"-->
    <!-- Checkbox -->
    <div class="checkbox selected">
      <input type="checkbox" [(ngModel)]="tipo.visible" />
    </div>

    <!-- Título -->
    <div class="assigned-title">
      {{ tipo.name }}
    </div>

    <!-- Acciones -->
    <div class="assigned-actions">
      <span class="required">Requerido</span>

      <div
        class="switch"
        [ngClass]="tipo.obligatorio ? 'on' : 'off'"
        (click)="toggleObligatorio(tipo)"
      > </div>
    </div>
  </div>
 }
</div>

    <!-- BOTONES FINALES -->
    <div class="botones-nuevo-grupo">

      <button class="btn-figma" type="submit" (click)="save()">
        <span class="btn-icon">
      <img src="assets/img/save.svg" alt="Guardar" />
    </span>
    Guardar</button>


      @if (editMode()) {
        <button class="btn-figma" type="button" (click)="delete()">
          <span class="btn-icon">
        <img src="assets/img/trash.svg" alt="Eliminar" />
      </span>
      Cancelar</button>
      }

     <button class="btn-figma" type="button" (click)="cancel()">
        <span class="btn-icon">
      <img src="assets/img/cancel.svg" alt="Cancelar" />
    </span>
    Cancelar</button>
    </div>
    </div>
    </div>
</div>
<!--</form>-->

